.body-container {
  display: flex;
  justify-content: space-around;
}

.task-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-form-container > button {
  margin-top: 10px;
  background-color: aqua;
  border: none;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.task-form-container > button:hover {
  cursor: pointer;
}

.task-form-input {
  text-align: center;
}
